.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
  
}

.App .addItemFormWrapper {
  margin: 0 auto;
  
}

.App-Wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.Todolist {
  
  padding: 50px;
}

.Todolist ul {
    list-style-type: none;
}